<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="topbar-menu">
    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li>
                    <a href="/dashboard/users">
                        <i class="fas fa-user-friends"></i>
                        Users
                    </a>
                </li>

                <li>
                    <a href="/dashboard/products">
                        <i class="fas fa-box"></i>
                        Products
                    </a>
                </li>

            </ul>
            <!-- End navigation menu -->
            <div class="clearfix"></div>
        </div>
        <!-- end #navigation -->
    </div>
    <!-- end container -->
</th:block>